.car {
  background-image: url('images/foodtruck.gif');
  background-size: 120%;
}








// .car.moving {
//   animation: movesmooth 1s infinite;
//   animation-duration: 10s;
// }

// @keyframes movesmooth {
//   0% {left:0px; top:0px;}
//   10% {left:65px; top:0px;}
//   20% {left:65px; top:0px;}
//   30% {left:65px; top:0px;}
// }
