.log {
    background-color: darken(brown, 20);
    background-image: url('https://img.clipartimage.com/wood-sign-transparent-png-pictures-free-icons-and-png-backgrounds-free-wooden-sign-clipart-no-background-600_338.png');
    background-size: 300%;
  }
