.road {
  // display: inline-block;
  background-color: black;
  // background-image: url('https://media3.giphy.com/media/fmsA2RG7TKxuo/source.gif');
  // background-size: cover;
  border-bottom: 2px white;
  border-style: dashed;
}
