.treeimages {
  background-image: url('images/treee.jpeg'), url('https://ak2.picdn.net/shutterstock/videos/872872/thumb/1.jpg');
  background-size: 80%, cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
